django==3.2.18
uWSGI==2.0.21
djangorestframework==3.13.1
djangorestframework-csv==2.1.1
djangorestframework-gis==1.0
djangorestframework-xml==2.0.0
drf-extensions==0.7.1
django-cors-headers==3.13.0
django-permissions-policy==4.14.0
django-extensions==3.2.1
django-filter==22.1
django-health-check==3.17.0
requests==2.28.2
pytz==2022.7.1
psycopg2-binary==2.9.5
django-db-schema-renderer
graphviz==0.20.1
pygraphviz==1.10
debugpy==1.6.3
django-csp==3.6
django-spaghetti-and-meatballs==0.4.2
Pillow