<iframe id="sso_frame" style="position: absolute; width: 1px; height: 1px; inset: -9999px; display: none;" src="{{ CHECK_SESSION_IFRAME }}?origin={{ ABSOLUTE_ROOT }}"></iframe>
<script>
    console.log("{{CHECK_SESSION_IFRAME}}")
    window.addEventListener("message", function(e){
        const sessionFrame = "{{CHECK_SESSION_IFRAME}}";
        console.log("Iframe received message: ", e);
        if (sessionFrame.startsWith(e.origin) && e.data === "changed") {
            window.location.href = "{{LOGIN_URL}}";
        }
    }, false);
    document.addEventListener("visibilitychange", function() {
        const ssoFrame = document.getElementById("sso_frame");
        const message = "{{OIDC_RP_CLIENT_ID}} {{SESSION_STATE}}"
        if (!document.hidden){
            ssoFrame.contentWindow.postMessage(message, '*');

        }
    });

</script>
