server {
    listen       80  default_server;
    server_name  _;

    # These log files are softlinked to stdout and stderr
    error_log  /dev/stdout;
    access_log /dev/stdout;

    client_max_body_size 41M; # 40MB for upload, 1MB for other data

    location / {
        proxy_pass ${PROXY_PASS};
        proxy_set_header Host $http_host;
    }

    location /media {
        alias /media;
        access_log off;
        expires 30d;
        add_header Vary Accept-Encoding;
    }
}
